{#- Libvirt domain for a storage-role test node. vda is the OS overlay. This
    template is the only place a disk's guest_class (utils/vars/disks.yml) maps
    to a libvirt bus:
      virtio  bus virtio, target vdX
      scsi    bus scsi on one virtio-scsi controller, target sdX
      nvme    bus nvme, one nvme controller per disk, target nvmeNn1
    A port to another hypervisor replaces this mapping and keeps disks.yml.
    Every disk is a native libvirt disk, so libvirt applies its SELinux labels
    to all of them. The emulator is left to libvirt's default for the arch. -#}
<domain type='kvm'>
  <name>{{ domain }}</name>
  <memory unit='MiB'>{{ node_memory_mb }}</memory>
  <vcpu>2</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>
  <cpu mode='host-passthrough'/>
  <features><acpi/><apic/></features>
  <devices>

    {#- OS disk -#}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ workdir }}/root.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    {#- cloud-init NoCloud seed -#}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ workdir }}/seed.iso'/>
      <target dev='sdz' bus='sata'/>
      <readonly/>
    </disk>

    <controller type='scsi' index='0' model='virtio-scsi'/>

    {#- Data disks. The file name is the global drive index (matches create.yml
        disk{{ idx }}.raw), target letters count per bus. Each nvme disk gets its
        own controller carrying serial def<global index>, which is the serial
        standard-inventory-qcow2 gives its -device nvme. -#}
    {%- set ns = namespace(v=0, s=0, n=0) -%}
    {%- set vletters = 'bcdefghijk' -%}
    {%- set sletters = 'abcdefghij' -%}
    {%- for d in test_disks -%}
      {%- if d.guest_class == 'virtio' %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw'/>
      <source file='{{ workdir }}/disk{{ loop.index0 }}.raw'/>
      <target dev='vd{{ vletters[ns.v] }}' bus='virtio'/>
    </disk>
        {%- set ns.v = ns.v + 1 -%}
      {%- elif d.guest_class == 'scsi' %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw'/>
      <source file='{{ workdir }}/disk{{ loop.index0 }}.raw'/>
      <target dev='sd{{ sletters[ns.s] }}' bus='scsi'/>
    </disk>
        {%- set ns.s = ns.s + 1 -%}
      {%- elif d.guest_class == 'nvme' %}
    <controller type='nvme' index='{{ ns.n }}'>
      <serial>def{{ loop.index0 }}</serial>
    </controller>
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw'/>
      <source file='{{ workdir }}/disk{{ loop.index0 }}.raw'/>
      <target dev='nvme{{ ns.n }}n1' bus='nvme'/>
      <address type='drive' controller='{{ ns.n }}' bus='0' target='0' unit='0'/>
    </disk>
        {%- set ns.n = ns.n + 1 -%}
      {%- endif -%}
    {%- endfor %}

    <interface type='network'>
      <source network='{{ libvirt_network }}'/>
      <model type='virtio'/>
    </interface>
    <serial type='pty'><target port='0'/></serial>
    <console type='pty'><target type='serial' port='0'/></console>
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
    </channel>
  </devices>
</domain>
